@import 'App/animation.scss';
/* Component styling! Scoped by hashing IDs and classes, so no worries about any namespace clashes! */
h1 {
	&.red {
		color: red;
		&:hover {
			color: blue;
		}
	}
}
.rotate {
	animation: rotating 20s linear infinite;
}